<div ng-controller="uSupport.dashboard.admin.controller as vm" class="uSupport dashboard">
	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   name-locked="true"
						   hide-description="true"
						   hide-alias="true"
						   hide-icon="true">
		</umb-editor-header>

		<umb-editor-container class="form-horizontal">
			<div class="flex">
				<div class="umb-package-details__main-content">
					<umb-box>
						<umb-box-content>
							<h2 class="bold">uSupport</h2>
							<br />
							<h4 class="bold">What is uSupport</h4>
							<p>uSupport is an feature rich ticketing system designed specifically for the Umbraco. It is a complete ticketing solution that enables users to create, manage, and view tickets and their associated comments. With uSupport, you can quickly and easily create and manage tickets. uSupport is highly customizable, allowing users to set up their own ticket types and define ticket statuses.</p>

							<h4 class="mt4 bold">Why uSupport</h4>
							<p>Instead of managing your clients Umbraco issues via email. Why not keep them in Umbraco. uSupport is highly flexable and customizable to make sure it fits your needs. No more rummaging through old emails to find details of what needs to be fixed.</p>

							<h5>Key features</h5>
							<ul>
								<li>Friendly UI</li>
								<li>Customizable ticket types & statuses</li>
								<li>Comment on tickets</li>
								<li>Email notifications</li>
								<li>Ticketing dashboard</li>
							</ul>

							<h4 class="mt4 bold">Getting Started</h4>
							<p>Here are some helpful resources to help you get the most out of uSupport:</p>
							<ul>
								<li>
									<strong>Documentation:</strong> Read our <a href="https://lantzify.github.io/uSupport-documentation/" style="text-decoration:underline;" target="_blank">documentation</a> for setup guides and best practices
								</li>
								<li>
									<strong>uSync Integration:</strong> Sync your ticket types and statuses with <a href="https://github.com/Lantzify/uSupport-uSync" style="text-decoration:underline;" target="_blank">uSupport uSync</a>
								</li>
								<li>
									<strong>Email Templates:</strong> Customize notification emails by <a href="https://github.com/Lantzify/uSupport/raw/refs/heads/main/assets/email-templates.zip" style="text-decoration:underline;" target="_blank">downloading the email templates</a>
								</li>
								<li>
									<strong>Source Code:</strong> Contribute or report issues on <a href="https://github.com/uSupport/uSupport" style="text-decoration:underline;" target="_blank">GitHub</a>
								</li>
							</ul>
						</umb-box-content>
					</umb-box>
				</div>
			</div>
		</umb-editor-container>

	</umb-editor-view>
</div>