<div>

	<umb-editor-sub-header ng-if="vm.activeTickets.length && vm.pagination.totalPages > 1 || vm.searchTerm">
		<umb-editor-sub-header-content-right>
			<umb-search-filter model="vm.searchTerm"
							   label-key="placeholders_filter"
							   on-change="vm.search()"
							   text="Type to filter...">
			</umb-search-filter>
		</umb-editor-sub-header-content-right>
	</umb-editor-sub-header>

	<umb-box>
		<umb-box-header title="Active tickets"></umb-box-header>
		<umb-box-content>
			<table class="table mb0" ng-if="vm.activeTickets.length">
				<thead>
					<tr>
						<th>Status</th>
						<th>Type</th>
						<th>Title</th>
						<th ng-if="vm.useLongList">Summary</th>
						<th ng-if="vm.useLongList && vm.adminDashboard">Ticket Id</th>
						<th>Submitted</th>
						<th ng-if="vm.useLongList">Last update</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ticket in vm.activeTickets">
						<td>
							<umb-badge size="s"
									   color="{{ticket.Status.Color}}"
									   class="">
								{{ticket.Status.Name}}
							</umb-badge>
						</td>
						<td class="status-icon">
							<umb-icon title="{{ticket.Type.Name}}" icon="{{ticket.Type.Icon}}" class="{{ticket.Type.Color}}"></umb-icon>
						</td>
						<td>
							<strong>
								{{ ticket.Title | limitTo: 10  }}
								{{ ticket.Title.length > 10 ? '...' : ''}}
							</strong>
						</td>
						<td ng-if="vm.useLongList">
							<strong>
								{{ ticket.Summary | limitTo: 10  }}
								{{ ticket.Summary.length > 10 ? '...' : ''}}
							</strong>
						</td>
						<td ng-if="vm.useLongList && vm.adminDashboard"><strong>{{ticket.ExternalTicketId}}</strong></td>
						<td><strong>{{ticket.Submitted | date:'yyyy-MM-dd'}}</strong></td>
						<td ng-if="vm.useLongList"><strong>{{ticket.LastUpdated | date:'yyyy-MM-dd'}}</strong></td>
						<td>
							<umb-button action="vm.openTicket(ticket.Id)"
										type="button"
										button-style="link"
										label="Open">
							</umb-button>
						</td>
					</tr>
				</tbody>
			</table>

			<umb-pagination page-number="vm.pagination.pageNumber"
							total-pages="vm.pagination.totalPages"
							on-next="vm.loadPage"
							on-prev="vm.loadPage"
							on-change="vm.loadPage"
							on-go-to-page="vm.loadPage"
							ng-if="vm.pagination.totalPages >= 1">
			</umb-pagination>

			<div ng-if="!vm.activeTickets.length && !vm.searchTerm">
				There are currently no active tickets
				<umb-icon icon="icon-check" class="color-green"></umb-icon>
			</div>

			<localize ng-if="!vm.tickets.length && vm.searchTerm" key="general_searchNoResult" />

		</umb-box-content>
	</umb-box>
</div>