<div ng-if="vm.resolvedTickets.length || vm.searchTerm">

    <umb-editor-sub-header>
        <umb-editor-sub-header-content-right>
            <umb-search-filter model="vm.searchTerm"
                               label-key="placeholders_filter"
                               on-change="vm.search()"
                               text="Type to filter...">
            </umb-search-filter>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>

    <umb-box>
        <umb-box-header title="Resolved tickets"></umb-box-header>
        <umb-box-content>
            <table class="table mb0" ng-if="vm.resolvedTickets.length">
                <thead>
                    <tr>
                        <th class="clickable-th" ng-click="vm.sortBy('StatusId')">
                            Status
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'StatusId'"></umb-icon>
                        </th>
                        <th class="clickable-th" ng-click="vm.sortBy('TypeId')">
                            Type
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'TypeId'"></umb-icon>
                        </th>
                        <th class="clickable-th" ng-click="vm.sortBy('ExternalTicketId')">
                            Ticket Id
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'ExternalTicketId'"></umb-icon>
                        </th>
                        <th class="clickable-th" ng-click="vm.sortBy('Title')">
                            Title
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'Title'"></umb-icon>
                        </th>
                        <th class="clickable-th" ng-click="vm.sortBy('Resolved')">
                            Resolved
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'Resolved'"></umb-icon>
                        </th>
                        <th class="clickable-th" ng-click="vm.sortBy('Submitted')">
                            Submitted
                            <umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}" ng-if="vm.sortOrder.column == 'Submitted'"></umb-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in vm.resolvedTickets" ng-click="vm.openTicket(ticket.Id)" class="ticket-item-hover clickable-th">
                        <td>
                            <umb-badge size="s"
                                       color="{{ticket.Status.Color}}"
                                       class="">
                                {{ticket.Status.Name}}
                            </umb-badge>
                        </td>
                        <td class="status-icon">
                            <umb-icon title="{{ticket.Type.Name}}" icon="{{ticket.Type.Icon}}" class="{{ticket.Type.Color}}"></umb-icon>
                        </td>
                        <td><strong>{{ticket.ExternalTicketId}}</strong></td>
                        <td title="{{ticket.Title}}">
                            <strong>
                                {{ ticket.Title | limitTo: 25  }}
                                {{ ticket.Title.length > 25 ? '...' : ''}}
                            </strong>
                        </td>
                        <td><strong>{{ticket.Resolved | date:'yyyy-MM-dd'}}</strong></td>
                        <td><strong>{{ticket.Submitted | date:'yyyy-MM-dd'}}</strong></td>
                    </tr>
                </tbody>
            </table>

            <umb-pagination page-number="vm.pagination.pageNumber"
                            total-pages="vm.pagination.totalPages"
                            on-next="vm.loadPage"
                            on-prev="vm.loadPage"
                            on-change="vm.loadPage"
                            on-go-to-page="vm.loadPage"
                            ng-if="vm.pagination.totalPages >= 1">
            </umb-pagination>

            <div>
                <localize ng-if="!vm.resolvedTickets.length && vm.searchTerm" key="general_searchNoResult" />

            </div>
        </umb-box-content>
    </umb-box>

</div>