<div ng-controller="uSupport.settings.overview.controller as vm" class="uSupport settings">

	<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

	<form novalidate val-form-manager name="formName" ng-model="vm.settings" ng-submit="vm.save(formName)">
		<umb-editor-view ng-if="!vm.loading">
			<umb-editor-header name="vm.page.title"
							   description="vm.page.description"
							   menu="vm.page.menu"
							   hide-description="false"
							   name-locked="true"
							   description-locked="true"
							   hide-alias="true"
							   navigation="vm.page.navigation"
							   hide-icon="true">
			</umb-editor-header>

			<umb-editor-container>
				<umb-editor-sub-views sub-views="vm.page.navigation" model="vm"></umb-editor-sub-views>
			</umb-editor-container>

			<umb-editor-footer>
				<umb-editor-footer-content-right>
					<umb-button type="button"
								button-style="success"
								label="Save"
								state="vm.buttonState"
								action="vm.save()">
					</umb-button>
				</umb-editor-footer-content-right>
			</umb-editor-footer>
		</umb-editor-view>
	</form>
</div>